<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>System</name>
    <sid>8353295139437749</sid>
    <event-sheet>Fonts</event-sheet>
    <size>
        <width>640</width>
        <height>480</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="9304097847271213">
            <initially-visible>1</initially-visible>
            <background-color>0,0,0</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="VPad" uid="9">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <instance-variables>
                        <Up>0</Up>
                        <Down>0</Down>
                        <Left>0</Left>
                        <Right>0</Right>
                        <Confirm>0</Confirm>
                        <Cancel>0</Cancel>
                        <Menu>0</Menu>
                        <LastUp>0</LastUp>
                        <LastDown>0</LastDown>
                        <LastLeft>0</LastLeft>
                        <LastRight>0</LastRight>
                        <LastConfirm>0</LastConfirm>
                        <LastCancel>0</LastCancel>
                        <LastMenu>0</LastMenu>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>0</y>
                        <z>0</z>
                        <width>32</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="GasterBlaster" uid="24">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Damage>0</Damage>
                        <Karma>0</Karma>
                        <Ang>0</Ang>
                        <EndX>0</EndX>
                        <EndY>0</EndY>
                        <EndAng>0</EndAng>
                        <State>0</State>
                        <Timer>0</Timer>
                        <LeaveSpeed>0</LeaveSpeed>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>48</x>
                        <y>64</y>
                        <z>0</z>
                        <width>57</width>
                        <height>44</height>
                        <depth>0</depth>
                        <hotspotX>0.491228074</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="GasterBlast1" uid="16">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <hotspot>Left</hotspot>
                    </properties>
                    <instance-variables>
                        <BlastTime>0</BlastTime>
                        <Timer>0</Timer>
                        <BaseSize>0</BaseSize>
                        <SineSize>0</SineSize>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>112</x>
                        <y>64</y>
                        <z>0</z>
                        <width>112</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="GasterBlast2" uid="63">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <hotspot>Left</hotspot>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>96</x>
                        <y>64</y>
                        <z>0</z>
                        <width>16</width>
                        <height>24</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="GasterBlast3" uid="64">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <hotspot>Left</hotspot>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>80</x>
                        <y>64</y>
                        <z>0</z>
                        <width>16</width>
                        <height>16</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="GasterBlastHit" uid="62">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <hotspot>Left</hotspot>
                    </properties>
                    <instance-variables>
                        <Damage>0</Damage>
                        <Karma>0</Karma>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>112</x>
                        <y>64</y>
                        <z>0</z>
                        <width>112</width>
                        <height>16</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Platform1" uid="22">
                    <properties>
                        <left-margin>4</left-margin>
                        <right-margin>4</right-margin>
                        <top-margin>2</top-margin>
                        <bottom-margin>2</bottom-margin>
                        <edges>Stretch</edges>
                        <fill>Stretch</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <instance-variables>
                        <Damage>0</Damage>
                        <Karma>0</Karma>
                        <Color>0</Color>
                        <Direction>0</Direction>
                        <Speed>0</Speed>
                        <Reverse>false</Reverse>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Jumpthru">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="CustomMovement">
                            <properties>
                                <stepping-mode>None</stepping-mode>
                                <pixels-per-step>5</pixels-per-step>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <effect-instances>
                        <effect-instance type="Tint">
                            <parameters>
                                <blue>1</blue>
                                <green>1</green>
                                <red>1</red>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>16</x>
                        <y>112</y>
                        <z>0</z>
                        <width>61</width>
                        <height>7</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Platform2" uid="23">
                    <properties>
                        <left-margin>4</left-margin>
                        <right-margin>4</right-margin>
                        <top-margin>2</top-margin>
                        <bottom-margin>2</bottom-margin>
                        <edges>Stretch</edges>
                        <fill>Stretch</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <instance-variables>
                        <Damage>0</Damage>
                        <Karma>0</Karma>
                        <Color>0</Color>
                    </instance-variables>
                    <effect-instances>
                        <effect-instance type="Tint">
                            <parameters>
                                <blue>1</blue>
                                <green>1</green>
                                <red>1</red>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>16</x>
                        <y>96</y>
                        <z>0</z>
                        <width>61</width>
                        <height>7</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BoneH" uid="11">
                    <properties>
                        <left-margin>6</left-margin>
                        <right-margin>6</right-margin>
                        <top-margin>0</top-margin>
                        <bottom-margin>0</bottom-margin>
                        <edges>Tile</edges>
                        <fill>Tile</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <instance-variables>
                        <Direction>0</Direction>
                        <Speed>0</Speed>
                        <Damage>0</Damage>
                        <Karma>0</Karma>
                        <Color>0</Color>
                    </instance-variables>
                    <effect-instances>
                        <effect-instance type="Tint">
                            <parameters>
                                <blue>1</blue>
                                <green>1</green>
                                <red>1</red>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>112</x>
                        <y>96</y>
                        <z>0</z>
                        <width>48</width>
                        <height>10</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BoneV" uid="12">
                    <properties>
                        <left-margin>0</left-margin>
                        <right-margin>0</right-margin>
                        <top-margin>6</top-margin>
                        <bottom-margin>6</bottom-margin>
                        <edges>Tile</edges>
                        <fill>Tile</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <instance-variables>
                        <Direction>0</Direction>
                        <Speed>0</Speed>
                        <Damage>0</Damage>
                        <Karma>0</Karma>
                        <Color>0</Color>
                    </instance-variables>
                    <effect-instances>
                        <effect-instance type="Tint">
                            <parameters>
                                <blue>1</blue>
                                <green>1</green>
                                <red>1</red>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>96</x>
                        <y>96</y>
                        <z>0</z>
                        <width>10</width>
                        <height>48</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="CombatZoneBorder" uid="27">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Solid">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>144</y>
                        <z>0</z>
                        <width>16</width>
                        <height>16</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="CombatZoneClipper" uid="29">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <blend-mode>6</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>16</x>
                        <y>144</y>
                        <z>0</z>
                        <width>16</width>
                        <height>16</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BoneStabWarn" uid="32">
                    <properties>
                        <left-margin>4</left-margin>
                        <right-margin>4</right-margin>
                        <top-margin>4</top-margin>
                        <bottom-margin>4</bottom-margin>
                        <edges>Stretch</edges>
                        <fill>Stretch</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <instance-variables>
                        <Damage>0</Damage>
                        <Karma>0</Karma>
                        <Color>0</Color>
                        <Direction>0</Direction>
                        <Distance>0</Distance>
                        <WarnTime>0</WarnTime>
                        <StayTime>0</StayTime>
                    </instance-variables>
                    <effect-instances>
                        <effect-instance type="Tint">
                            <parameters>
                                <blue>1</blue>
                                <green>1</green>
                                <red>1</red>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>128</x>
                        <y>128</y>
                        <z>0</z>
                        <width>16</width>
                        <height>16</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BoneStabV" uid="34">
                    <properties>
                        <left-margin>0</left-margin>
                        <right-margin>0</right-margin>
                        <top-margin>6</top-margin>
                        <bottom-margin>6</bottom-margin>
                        <edges>Tile</edges>
                        <fill>Tile</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <instance-variables>
                        <Direction>0</Direction>
                        <Distance>0</Distance>
                        <DestX>0</DestX>
                        <DestY>0</DestY>
                        <StayTime>0</StayTime>
                        <Reverse>false</Reverse>
                        <Damage>0</Damage>
                        <Karma>0</Karma>
                        <Color>0</Color>
                    </instance-variables>
                    <effect-instances>
                        <effect-instance type="Tint">
                            <parameters>
                                <blue>1</blue>
                                <green>1</green>
                                <red>1</red>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>144</x>
                        <y>112</y>
                        <z>0</z>
                        <width>12</width>
                        <height>48</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BoneStabH" uid="35">
                    <properties>
                        <left-margin>6</left-margin>
                        <right-margin>6</right-margin>
                        <top-margin>0</top-margin>
                        <bottom-margin>0</bottom-margin>
                        <edges>Tile</edges>
                        <fill>Tile</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <instance-variables>
                        <Direction>0</Direction>
                        <Distance>0</Distance>
                        <DestX>0</DestX>
                        <DestY>0</DestY>
                        <StayTime>0</StayTime>
                        <Reverse>false</Reverse>
                        <Damage>0</Damage>
                        <Karma>0</Karma>
                        <Color>0</Color>
                    </instance-variables>
                    <effect-instances>
                        <effect-instance type="Tint">
                            <parameters>
                                <blue>1</blue>
                                <green>1</green>
                                <red>1</red>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>96</x>
                        <y>144</y>
                        <z>0</z>
                        <width>48</width>
                        <height>12</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SansFont" uid="26">
                    <properties>
                        <character-width>16</character-width>
                        <character-height>16</character-height>
                        <character-set> !&quot;#$%&amp;&apos;()*+,-./0123456789:;&lt;=&gt;?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_`abcdefghijklmnopqrstuvwxyz{|}~</character-set>
                        <text>Comic Sans</text>
                        <scale>1</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <instance-variables>
                        <Name></Name>
                        <Voice>SansSpeak</Voice>
                        <FullText></FullText>
                        <EndFunc></EndFunc>
                        <Interactive>false</Interactive>
                        <CurrentChar>0</CurrentChar>
                        <T>0</T>
                        <Timeout>0</Timeout>
                    </instance-variables>
                    <effect-instances>
                        <effect-instance type="Tint">
                            <parameters>
                                <blue>1</blue>
                                <green>1</green>
                                <red>1</red>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>16</x>
                        <y>192</y>
                        <z>0</z>
                        <width>160</width>
                        <height>16</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SpeechBubble" uid="25">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>16</x>
                        <y>224</y>
                        <z>0</z>
                        <width>237</width>
                        <height>104</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="DefaultFont" uid="36">
                    <properties>
                        <character-width>10</character-width>
                        <character-height>16</character-height>
                        <character-set> !&quot;#$%&amp;&apos;()*+,-./0123456789:;&lt;=&gt;?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_`abcdefghijklmnopqrstuvwxyz{|}~</character-set>
                        <text>Informational Text</text>
                        <scale>1</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <instance-variables>
                        <Name></Name>
                        <Voice>BattleText</Voice>
                        <FullText></FullText>
                        <EndFunc></EndFunc>
                        <Interactive>false</Interactive>
                        <CurrentChar>0</CurrentChar>
                        <T>0</T>
                        <Timeout>0</Timeout>
                    </instance-variables>
                    <effect-instances>
                        <effect-instance type="Tint">
                            <parameters>
                                <blue>1</blue>
                                <green>1</green>
                                <red>1</red>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>16</x>
                        <y>176</y>
                        <z>0</z>
                        <width>208</width>
                        <height>16</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Target" uid="39">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <State>0</State>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>320</x>
                        <y>416</y>
                        <z>0</z>
                        <width>548</width>
                        <height>117</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.504273534</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="MenuItem" uid="40">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <ID>0</ID>
                        <Text></Text>
                        <Action></Action>
                        <BackAction></BackAction>
                        <Created>false</Created>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>176</y>
                        <z>0</z>
                        <width>16</width>
                        <height>16</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="HeartShard" uid="43">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="CustomMovement">
                            <properties>
                                <stepping-mode>None</stepping-mode>
                                <pixels-per-step>5</pixels-per-step>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>192</x>
                        <y>128</y>
                        <z>0</z>
                        <width>16</width>
                        <height>16</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Strike" uid="44">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>320</x>
                        <y>352</y>
                        <z>0</z>
                        <width>4</width>
                        <height>6</height>
                        <depth>0</depth>
                        <hotspotX>-1</hotspotX>
                        <hotspotY>5.666666508</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="TargetChoice" uid="45">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Direction>0</Direction>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>320</x>
                        <y>416</y>
                        <z>0</z>
                        <width>14</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="DamageFont" uid="50">
                    <properties>
                        <character-width>33</character-width>
                        <character-height>32</character-height>
                        <character-set> !&quot;#$%&amp;&apos;()*+,-./0123456789:;&lt;=&gt;?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_`abcdefghijklmnopqrstuvwxyz{|}~</character-set>
                        <text>99999</text>
                        <scale>1</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <instance-variables>
                        <Name></Name>
                        <Voice></Voice>
                        <FullText></FullText>
                        <EndFunc></EndFunc>
                        <Interactive>false</Interactive>
                        <CurrentChar>0</CurrentChar>
                        <T>0</T>
                        <Timeout>0</Timeout>
                    </instance-variables>
                    <effect-instances>
                        <effect-instance type="Tint">
                            <parameters>
                                <blue>1</blue>
                                <green>1</green>
                                <red>1</red>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>224</x>
                        <y>176</y>
                        <z>0</z>
                        <width>176</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="FileChooser" uid="52">
                    <properties>
                        <accept>.csv</accept>
                        <select>Single</select>
                        <initial-visibility>Visible</initial-visibility>
                        <id-optional>filechooser</id-optional>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>272</x>
                        <y>224</y>
                        <z>0</z>
                        <width>200</width>
                        <height>25</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="CombatZoneUnclipper" uid="53">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <blend-mode>6</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>32</x>
                        <y>144</y>
                        <z>0</z>
                        <width>16</width>
                        <height>16</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="MenuBoneLeft" uid="55">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Damage>0</Damage>
                        <Karma>0</Karma>
                        <Timer>0</Timer>
                        <Destroy>false</Destroy>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>592</x>
                        <y>32</y>
                        <z>0</z>
                        <width>14</width>
                        <height>44</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="MenuBoneBottom" uid="56">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Damage>0</Damage>
                        <Karma>0</Karma>
                        <State>0</State>
                        <Button>0</Button>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>608</x>
                        <y>32</y>
                        <z>0</z>
                        <width>14</width>
                        <height>44</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="PlayerHitbox" uid="57">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>272</x>
                        <y>32</y>
                        <z>0</z>
                        <width>4</width>
                        <height>4</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="TouchDPad" uid="59">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <TouchID>-1</TouchID>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>288</x>
                        <y>48</y>
                        <z>0</z>
                        <width>96</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>0.5</opacity>
                    </world>
                </instance>
                <instance type="TouchA" uid="60">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <TouchID>-1</TouchID>
                        <Pressed>false</Pressed>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>528</x>
                        <y>48</y>
                        <z>0</z>
                        <width>96</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>0.5</opacity>
                    </world>
                </instance>
                <instance type="TouchB" uid="61">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <TouchID>-1</TouchID>
                        <Pressed>false</Pressed>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>416</x>
                        <y>48</y>
                        <z>0</z>
                        <width>96</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>0.5</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances>
        <instance type="AttackList" uid="31" />
        <instance type="TLActionList" uid="37">
            <properties>
                <width>10</width>
                <height>1</height>
                <depth>1</depth>
            </properties>
        </instance>
        <instance type="TLCurrentLine" uid="38">
            <properties>
                <width>10</width>
                <height>1</height>
                <depth>1</depth>
            </properties>
        </instance>
        <instance type="PlayerItems" uid="41">
            <properties>
                <width>0</width>
                <height>1</height>
                <depth>1</depth>
            </properties>
        </instance>
        <instance type="ItemDB" uid="42">
            <properties>
                <width>0</width>
                <height>4</height>
                <depth>1</depth>
            </properties>
        </instance>
        <instance type="TLVars" uid="47" />
        <instance type="AttackLoader" uid="49">
            <properties>
                <width>0</width>
                <height>1</height>
                <depth>1</depth>
            </properties>
        </instance>
        <instance type="MenuStack" uid="51">
            <properties>
                <width>1</width>
                <height>2</height>
                <depth>1</depth>
            </properties>
        </instance>
        <instance type="TLLabels" uid="65" />
    </nonworld-instances>
    <effects />
</c2layout>
